.contact-launcher-show {
  position: fixed !important;
  bottom: 0;
  right: 150px;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.contact-launcher-show > * {
  position: relative !important;
  margin-bottom: 0 !important;
}

.contact-launcher-close {
  position: absolute !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  margin-right: 15px;
  height: 60px;
  background-color: #aaa;
  width: 25px;
  right: 0;
  bottom: 0;
  z-index: 10000;
  border-radius: 10%;
}

.contact-launcher-close:hover {
  color: #f44336;
  background-color: #ddd;
  text-shadow: 2px 4px 3px rgba(250,67,63,0.3);
}

.contact-launcher-close > .anticon {
  cursor: pointer;
}

.rcw-header {
  display: inline-flex;
  justify-content: space-around;
}

.rcw-close-button {
  border-radius: 0;
  flex-shrink: 0;
  background-color: #35cce6;
  border: 0;
  display: block !important;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

.rcw-close-button > img {
  width: 20px;
  height: 20px;
}

.rcw-title {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
