@keyframes rotation-lr {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes rotation-rl {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(-1000px);
  }
}
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(-1000px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.rcw-launcher {
  cursor: pointer;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  align-self: flex-end;
  background-color: #35cce6;
  border: 0;
  border-radius: 10%;
  box-shadow: 0px 2px 10px 1px #b5b5b5;
  height: 60px;
  bottom: 0;
  margin-top: 10px;
  width: 160px;
}

.rcw-launcher:focus {
  outline: none;
}

@keyframes slide-up {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(15px);
    opacity: 0.5;
  }
}

.rcw-hide-sm {
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-up;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-up;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-up;
  animation-fill-mode: forwards;

}

.rcw-open-launcher {
  width: 50px;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotation-rl;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotation-rl;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotation-rl;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

.rcw-close-launcher {
  width: 20px;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotation-lr;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotation-lr;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotation-lr;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

.rcw-conversation-container {
  margin-bottom: -70px;
}

.chat-launcher-contact-column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .rcw-launcher {
    bottom: 0;
    margin: 20px;
    position: fixed;
    right: 0;
  }

  .rcw-launcher > .rcw-launcher-close {
    display: none;
  }

  .rcw-conversation-container {
    margin-bottom: 0;
  }
}
