@-webkit-keyframes rotation-lr {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}
@-moz-keyframes rotation-lr {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes rotation-lr {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}
@-webkit-keyframes rotation-rl {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}
@-moz-keyframes rotation-rl {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes rotation-rl {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0);
  }
}
@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
@-moz-keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.rcw-launcher {
  cursor: pointer;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-in;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-in;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  align-self: flex-end;
  background-color: #35cce6;
  border: 0;
  border-radius: 10%;
  box-shadow: 0px 2px 10px 1px #b5b5b5;
  height: 60px;
  margin-top: 10px;
  width: 160px;
}
.rcw-launcher:focus {
  outline: none;
}

.rcw-open-launcher {
  width: 50px;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rotation-rl;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotation-rl;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotation-rl;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

.rcw-close-launcher {
  width: 20px;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rotation-lr;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: rotation-lr;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: rotation-lr;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

@media screen and (max-width: 800px) {
  .rcw-launcher {
    bottom: 0;
    margin: 20px;
    position: fixed;
    right: 0;
  }

  .rcw-launcher > .rcw-launcher-close {
    display: none;
  }
}
