@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-container {
  height: 100vh;
  flex-direction: column;
}
.message-container, .message-form {
  display: flex;
}
.message-form {
  flex: 1;
  max-height: 136px;
  background-color: #009688 !important;
  color: white;
}
.message-list {
  flex: 1;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.message-form .input-field input {
  border-color: #FFFFFF;
}
.chip {
  font-style: italic;
}
.mdi-communication-chat {
  color: white;
}
.collection .collection-item:last-child {
  border-bottom: 0.1em solid #DCDCDC;
}
/* -------- Online user list ---------- */
.online-user-list, .online-user-list ul {
  display: flex;
}
.online-user-list {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  height: 68px;
  width: 300px;
  position: fixed;
  bottom: 85px;
  right: 50px;
  background-color: #009688 !important;
}
.online-user-list ul {
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5px;
}
.online-user-list li{
  display: inline-block;
}
.online-user-list img{
  margin: 4px;
  width: 50px;
}
.online-users-number{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.online-users-number i{
  font-size: 50px;
  padding-right: 10px;
}

.user-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 160px;
  box-shadow: 2px 2px 13px 0 rgba(1,1,0,.1);
  background-color: #edeef1;
}

.user-list--user {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: slide-in;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: slide-in;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  width: 160px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
}

.user-list--user-name {
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-list-header {
  width: 100%;
}

.close-contacts-shine {
  color: #f44336;
  text-shadow: 2px 4px 3px rgba(250,67,63,0.3);
}

.close-contacts {
  color: #666;
}

.contact-launcher-hide {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .user-list {
    bottom: 0;
    margin: 20px;
    position: fixed !important;
    right: 0;
  }
}
